.clip {
  margin-top: 5em;
  clip-path: polygon(0% 0%, 100% 0%, 100% 68%, 50% 90%, 0 68%);
  background: black;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clipper {
  margin: 1px auto;
  text-align: center;
}
.clip h1 {
  width: 60%;
  text-align: center;
  line-height: 1.5em;
  color: #fff;
  margin: 2px auto;
}
.clip p {
  font-weight: 200;
  color: #fff;
  font-size: 1.1em;
  margin: 1em;
}
span {
  color: #00d747;
}
@media (max-width: 800px) {
  .clip h1 {
    font-size: 1.5em;
  }
  .clip p {
    font-size: 0.7em;
  }
}
